[project]
name = "agent-without-framework"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dotenv>=0.9.9",
    "openai>=2.7.1",
    "pydantic>=2.12.4",
]
